{% extends 'base.html.twig' %}
{% block body %}

    {% set contact = contacts | first %}
    <h1>Fiche contact : {{ contact.title }} {{ contact.firstName }} {{ contact.lastName }}</h1>

    <h2>Telephone</h2>
    <ul>
        {% for phone in contact.phones %}
            <li>{{ phone.phoneNumber }} : {{ phone.contact.name }}</li>
        {% endfor %}
    </ul>

    <h2>Adresse</h2>
    <ul>
        {% for address in contact.addresses %}
            <li>{{ address.streetAddress }}, {{ address.postcode }} {{ address.city }} </li>
        {% endfor %}
    </ul>

    <h2>Email</h2>
    <ul>
        {% for email in contact.emails %}
            <li>{{ email.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}

