{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('manuel') }}">Manuel</a></li>
        <li><a href="{{ path('proxy') }}">Proxy</a></li>
        <li><a href="{{ path('client') }}">Client</a></li>
    </ul>
{% endblock %}

