<h4>{{ magicien.chapeau.nom }}</h4>
{{ dump(magicien.chapeau.contenu) }}

<h5>Magie</h5>
<ul>
    {% for objet in magicien.chapeau.contenu %}
        <li>{{ objet.nom }}</li>
    {% endfor %}
</ul>

{{ dump(magicien.chapeau.contenu) }}

