{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <section class="col-1">
            <h2>{{ magicien.nom }}</h2>
            <img src="{{ asset('img/magicien.webp') }}" alt="le magicien" style="max-width: 100%"/>
            <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#assistante">L'assistante</button>
        </section>
        <section class="col-2 collapse" id="assistante">
            <img src="{{ asset(magicien.assistante) }}" alt="le magicien" style="max-width: 100%"/>
            <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#tour">Le tour</button>
        </section>
        <section class="col-1 collapse" id="tour">
            <p>Tour</p>
            <ul>
                <li>
                    Chapeau
                    <ul>
                        <li><a href="{{ path('magie', {'etape':1, 'type':'code'}) }}" target="view">Code</a></li>
                        <li><a href="{{ path('magie', {'etape':1}) }}" target="view">Resultat</a></li>
                    </ul>
                </li>
                <li>
                    Contenu du chapeau
                    <ul>
                        <li><a href="{{ path('magie', {'etape':2, 'type':'code'}) }}" target="view">Code</a></li>
                        <li><a href="{{ path('magie', {'etape':2}) }}" target="view">Resultat</a></li>
                    </ul>
                </li>
                <li>
                    Magie
                    <ul>
                        <li><a href="{{ path('magie', {'etape':3, 'type':'code'}) }}" target="view">Code</a></li>
                        <li><a href="{{ path('magie', {'etape':3}) }}" target="view">Resultat</a></li>
                    </ul>
                </li>
                <li>
                    Il y a bien apparition
                    <ul>
                        <li><a href="{{ path('magie', {'etape':4, 'type':'code'}) }}" target="view">Code</a></li>
                        <li><a href="{{ path('magie', {'etape':4}) }}" target="view">Resultat</a></li>
                    </ul>
                </li>
            </ul>

        </section>
        <iframe class=col-8 name="view" style="height:90vh">

        </iframe>
    </div>

{% endblock %}

